* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.containerr {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerr .searchbox {
  position: relative;
  display: block;
  width: 100%;
  max-width: 53px;
  transition: 0.4s linear;
  overflow: hidden;
}
.containerr .searchbox .searchbox__input {
  display: block;
  appearance: none;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #24233A;
  padding: 15px;
  color: #24233A;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s linear;
}
.containerr .searchbox .searchbox__input::placeholder {
  color: #24233A;
}
.containerr .searchbox .searchbox__icon {
  position: absolute;
  right: calc(53px / 2);
  top: 50%;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.containerr .searchbox .searchbox__icon path {
  fill: #00F494;
  transition: 0.4s linear;
}
.containerr .searchbox:focus-within {
  max-width: 300px;
}
.containerr .searchbox:focus-within .searchbox__input {
  background-color: #FFF;
  padding-right: 50px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.containerr .searchbox:focus-within .searchbox__icon path {
  fill: #24233A;
}
